<input type="hidden" name="accessory[accessory_details_attributes][<%= uid %>][id]" value="<%= accessory_detail.id %>">
<input type="hidden" name="accessory[accessory_details_attributes][<%= uid %>][product_id]" value="<%= accessory_detail.product_id %>">
<input type="hidden" name="accessory[accessory_details_attributes][<%= uid %>][_destroy]" value="">
<td><%= accessory_detail.get_product_name %></td>
<td class="text-right"><%= erp_form_control('addableform_remove_button', {is_nested_form: true}) %></td>