<% content_for :title do %>
    <%= t('.create') %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_products.backend_properties_values_path %>">
    <i class="fa fa-list"></i> <%= t('.properties_values') %>
    </a> / <%= t('.create') %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-6">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', properties_value: @properties_value %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>