<input type="hidden" name="event[events_products_attributes][<%= uid %>][id]" value="<%= events_product.id %>">
<input type="hidden" name="event[events_products_attributes][<%= uid %>][product_id]" value="<%= events_product.product_id %>">
<input type="hidden" name="event[events_products_attributes][<%= uid %>][_destroy]" value="">

<td><%= events_product.product_code %></td>
<td><%= events_product.product_name %></td>
<td>
    <%= events_product.get_show_price %>
</td>
<td>
    <%= erp_form_control("addableform_remove_button", {
        is_nested_form: true
    }) %>
</td>