<input type="hidden" name="damage_record[damage_record_details_attributes][<%= uid %>][id]" value="<%= damage_record_detail.id %>">
<input type="hidden" name="damage_record[damage_record_details_attributes][<%= uid %>][product_id]" value="<%= damage_record_detail.product_id %>" class="product-id">
<input type="hidden" name="damage_record[damage_record_details_attributes][<%= uid %>][_destroy]" value="">
<td><%= damage_record_detail.product_code %></td>
<td><%= damage_record_detail.product_name %></td>
<td width='10%'>
    <%= erp_form_control("number", {
        name: 'damage_record[damage_record_details_attributes][' + uid + '][quantity]',
        value: damage_record_detail.quantity,
        text: damage_record_detail.quantity,
        class: "line_quantity inline",
        required: true,
    }) %>
</td>
<td width='20%'>
    <%= erp_form_control("dataselect", {
        name: 'damage_record[damage_record_details_attributes][' + uid + '][state_id]',
        value: damage_record_detail.state_id,
        text: damage_record_detail.state_name,
        placeholder: t('.choose_state'),
        url: erp_products.dataselect_backend_states_path(format: 'json'),
        errors: damage_record_detail.errors.full_messages_for(:state_id),
        required: true,
    }) %>
</td>
<td width='20%'>
    <%= erp_form_control("textarea", {
        name: 'damage_record[damage_record_details_attributes][' + uid + '][note]',
        value: damage_record_detail.note,
        text: damage_record_detail.note,
        rows: '1'
    }) %>
</td>
<td class="text-right">
    <%= erp_form_control("addableform_remove_button", {
        is_nested_form: true
    }) %>
</td>
