<% content_for :title do %>Cập Nhật Giá Trị Thuộc Tính: <%= @properties_value.get_value %><% end %>
<% content_for :page_title do %><%= link_to '<i class="fa fa-gg"></i> Danh Sách Giá Trị Thuộc Tính'.html_safe, erp_products.backend_properties_values_path %> / Cập Nhật Giá Trị Thuộc Tính: <%= @properties_value.get_value %><% end %>
<% content_for :page_toolbar do %><%= erp_component('button/create', {text: 'Tạo giá trị thuộc tính mới', href: erp_products.new_backend_properties_value_path, class: 'btn-noborder'}) %><% end %>
<div class="row"><div class="col-md-6"><% if @properties_value.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', properties_value: @properties_value %></div></div>