<% content_for :title do %><%= @properties_value.value %><% end %>

<% content_for :page_title do %>
    <a href="<%= erp.backend_path %>"><i class="fa fa-th"></i> <%= t('.products') %></a> /
    <a href="<%= erp_products.backend_properties_values_path %>"><%= t('.properties_values') %></a> /
    Cập nhật: <%= @properties_value.value %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', { text: t('.create'), href: erp_products.new_backend_properties_value_path, class: 'btn-sm' }) %>
<% end %>

<div class="row">
    <div class="col-md-6">
        <% if @properties_value.errors.any? %><%= erp_form_control("form_error_message") %><% end %>
        <div class="portlet light bordered">
            <div class="portlet-body"><%= render 'form', properties_value: @properties_value %></div>
        </div>
    </div>
</div>