<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='30%' class="text-left"><%= t('.name') %></th>
            <th class="text-center"><%= t('.value') %></th>
            <th class="text-center"><%= t('.product_count') %></th>
            <th width="7%" class="sortable text-nowrap text-center" sort-by='erp_products_properties_values.custom_order'><%= t('.order') %></th>
            <th width="7%" class="text-right"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @properties_values.each do |properties_value| %>
            <tr class="odd gradeX">
                <td class="text-left">
                    <strong>Nhóm giá trị: </strong>
                    <%= link_to properties_value.property_name, erp_products.edit_backend_property_path(properties_value.property) %><br>
                    <em>
                        <strong>Nhóm thuộc tính: </strong>
                        <%= link_to properties_value.property_group_name,
                                    erp_products.edit_backend_property_group_path(properties_value.property.property_group) %>
                    </em>
                </td>
                <td class="text-center"><%= link_to properties_value.value, erp_products.edit_backend_properties_value_path(properties_value) %></td>
                <td class="text-center">
                    <%= properties_value.products.count %><br>
                    <a target="_blank" href="<%= erp_products.export_products_backend_properties_values_path(id: properties_value.id) %>">
                        <em><%= t('.export') %></em>
                    </a>
                </td>
                <td class="text-center text-semibold">
                    <%= erp_datalist_order_column({
                        item: properties_value,
                        move_up_url: erp_products.move_up_backend_properties_values_path(id: properties_value),
                        move_down_url: erp_products.move_down_backend_properties_values_path(id: properties_value),
                        sort_by: 'erp_products_properties_values.custom_order' }) %>
                </td>
                <td class="text-right"><%= properties_value_dropdown_actions(properties_value) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @properties_values.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
<%= erp_datalist_pagination(@properties_values) %>