<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <th><%= t('.property') %></th>
            <th><%= t('.value') %></th>
            <th><%= t('.product_count') %></th>
            <th><%= t('.status') %></th>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @properties_values.each do |properties_value| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: properties_value.id) %>
                </td>
                <td>
                    <a href="<%= erp_products.edit_backend_properties_value_path(properties_value) %>">
                    <%= properties_value.property_group_name %> / <%= properties_value.property_name %>
                    </a>
                </td>
                <td>
                    <%= properties_value.value %>
                </td>
                <td>
                    <%= properties_value.product_count %>
                    / <a target="_blank" href="<%= erp_products.export_products_backend_properties_values_path(id: properties_value.id) %>">
                        export
                    </a>
                </td>
                <td>
                    <% if properties_value.is_show_website == true %>
                        <span class="label label-sm label-info">Hiển thị bộ lọc</span>
                    <% end %>
                </td>
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_products.edit_backend_properties_value_path(properties_value)
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_products.backend_properties_value_path(properties_value),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @properties_values.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@properties_values) %>
