<%= form_for([erp_products, :backend, stock_check], html: {multipart: true}) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'stock_check[code]',
                                    value: stock_check.code,
                                    label: t('.code'),
                                    help: t('.help_code'),
                                    errors: stock_check.errors.full_messages_for(:code),
                                    required: !stock_check.id.nil?,
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('datetime', {
                                    label: t('.adjustment_date'),
                                    name: 'stock_check[adjustment_date]',
                                    value: stock_check.adjustment_date,
                                    placeholder: t('.choose_adjustment_date'),
                                    required: true,
                                    errors: stock_check.errors.full_messages_for(:adjustment_date)
                                }) %>
                            </div>
                        </div>
                        <% if Erp::Core.available?("warehouses") %>
                            <%= erp_form_control("dataselect", {
                                name: 'stock_check[warehouse_id]',
                                value: stock_check.warehouse_id,
                                text: stock_check.warehouse_name,
                                placeholder: t('.choose_warehouse'),
                                label: t('.warehouse'),
                                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                                required: true,
                                errors: stock_check.errors.full_messages_for(:warehouse_id)
                            }) %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("dataselect", {
                            name: 'stock_check[employee_id]',
                            value: stock_check.employee_id,
                            text: stock_check.employee_name,
                            placeholder: t('.choose_employee'),
                            label: t('.employee'),
                            url: erp.dataselect_backend_users_path(format: 'json'),
                            required: true,
                            errors: stock_check.errors.full_messages_for(:employee_id)
                        }) %>
                        <%= erp_form_control("textarea", {
                            name: 'stock_check[description]',
                            value: stock_check.description,
                            label: t('.description'),
                            placeholder: t('.placeholder_description'),
                            rows: 1
                        }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab"> <%= t('.stock_check_details') %> </a>
                        </li>
                    </ul>
                    <div class="tab-content stock-check-details">
                        <div class="tab-pane addableform-table active" id="tab_5_1">
                            <% if stock_check.id.nil? %>
                                <div class="row">
                                    <div class="col-md-2">
                                        <%= erp_form_control("dataselect", {
                                            name: 'default_state',
                                            value: '',
                                            text: '',
                                            label: 'Tình trạng mặc định',
                                            placeholder: 'Chọn tình trạng',
                                            url: erp_products.dataselect_backend_states_path(format: 'json'),
                                        }) %>
                                    </div>
                                    <div class="col-md-10">
                                        <% if Erp::Core.available?("ortho_k") %>
                                            <div class="row addableform-filter">
                                                <div class="col-md-2">
                                                    <%= erp_form_control("dataselect", {
                                                        name: 'categories',
                                                        value: '',
                                                        text: '',
                                                        label: 'Loại hàng',
                                                        placeholder: 'Chọn loại hàng',
                                                        url: erp_products.dataselect_backend_categories_path(format: 'json'),
                                                        multiple: true
                                                    }) %>
                                                </div>
                                                <div class="col-md-3">
                                                    <% diameter = Erp::Products::Property.where(name: "Đường kính").first %>
                                                    <%= erp_form_control("dataselect", {
                                                        name: 'diameters',
                                                        value: '',
                                                        text: '',
                                                        label: 'Đường kính',
                                                        placeholder: 'Chọn đường kính',
                                                        url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: diameter.id),
                                                        multiple: true
                                                    }) %>
                                                </div>
                                                <div class="col-md-3">
                                                    <% letter = Erp::Products::Property.where(name: "Chữ").first %>
                                                    <%= erp_form_control("dataselect", {
                                                        name: 'letters',
                                                        value: '',
                                                        text: '',
                                                        label: 'Chữ',
                                                        placeholder: letter.name,
                                                        url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: letter.id),
                                                        multiple: true
                                                    }) %>
                                                </div>
                                                <div class="col-md-3">
                                                    <% number = Erp::Products::Property.where(name: "Số").first %>
                                                    <%= erp_form_control("dataselect", {
                                                        name: 'numbers',
                                                        value: '',
                                                        text: '',
                                                        label: 'Số',
                                                        placeholder: number.name,
                                                        url: erp_products.dataselect_backend_properties_values_path(format: 'json', property_id: number.id),
                                                        multiple: true
                                                    }) %>
                                                </div>
                                                <div class="col-md-1 mt-25">
                                                    <a class="btn btn-danger mb-10 ajax-box-button-123">Tìm</a>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                                <hr/>
                                <div class="ajax-box"
                                     data-button="ajax-box-button-123"
                                    data-control=".addableform-filter select,.addableform-filter input"
                                    data-url="<%= erp_products.form_check_details_backend_stock_checks_path %>"
                                >

                                </div>
                            <% else %>
                                <%= render template: "erp/products/backend/stock_checks/form_check_details" %>
                            <% end %>

                            <table class="table all-line-total">
                                <tr>
                                    <td class="text-right text-semibold" colspan="2"><%= t('.totals') %></td>
                                </tr>
                                <tr>
                                    <td width="90%" class="text-right text-semibold"><%= t('.stock_total') %>:</td>
                                    <td class="text-right">
                                        <span class="stock_total text-bold"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="90%" class="text-right text-semibold"><%= t('.real_total') %>:</td>
                                    <td class="text-right">
                                        <span class="real_total text-bold"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="90%" class="text-right text-semibold"><%= t('.diff_qty_total') %>:</td>
                                    <td class="text-right">
                                        <span class="diff_qty_total text-bold"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_products.backend_stock_checks_path
    }) %>


    <% content_for :page_script do %>
    <script>
    function calculateQuantityLine(container) {
        var rows = container.find('table tbody tr:visible');
        var stock_total = 0;
        var real_total = 0;
        var diff_qty_total = 0;
        rows.each(function() {
            var row = $(this);
            var difference_qty = 0;
            var stock = customParseFloat(row.find('.line_stock_qty').val());
            var real = customParseFloat(row.find('.line_real_qty').val());
            if (row.find('.line_real_qty').val() == '') {
                real = 0;
            }
            
            var difference_qty=real-stock;
            row.find('.line_difference_qty').html(difference_qty);
            row.find('.line_difference_qty').val(difference_qty);

            // Update stock check total
            if(stock) {
                stock_total += stock;
            }
            if(real) {
                real_total += real;
            }
            if(difference_qty) {
                diff_qty_total += difference_qty;
            }
        });
        // update line total
        container.find('.stock_total').html(stock_total);
        container.find('.real_total').html(real_total);
        container.find('.diff_qty_total').html(diff_qty_total);
    }
    $(document).ready(function() {
        $('.stock-check-details').each(function() {
            calculateQuantityLine($(this));
        });

        //$('.ajax-box').bind("DOMSubtreeModified",function(){
        //    $('.stock-check-details').each(function() {
        //        calculateQuantityLine($(this));
        //    });
        //});

        // Change event on order line
        $(document).on('change keyup', '.stock-check-details input', function(e) {
            var container = $(this).parents('.stock-check-details');
            calculateQuantityLine(container);
        });

        // Click event nested remove button
        $(document).on('click', '.nested-remove-button', function(e) {
            var container = $(this).parents('.stock-check-details');
            setTimeout(function() {calculateQuantityLine(container);}, 100);
        });
    });
    </script>
    <% end %>

<% end %>
