<% if @stock_check_details.empty? %>
    <div class="alert alert-warning text-center no-margin mt-10">
        <strong>Không tìm thấy kết quả phù hợp!</strong> Vui lòng thử tìm kiếm với điều kiện khác.
    </div>
<% else %>
    <table class="table table-bordered table-striped flip-content mt-10">
        <thead class="flip-content">
            <tr>
                <% if !Erp::Core.available?('ortho_k') %>
                    <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.product_code') %></th>
                <% end %>
                <th width="25%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.product_name') %></th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.unit') %></th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.stock') %></th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.real') %></th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.quantity') %></th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.state') %></th>
                <% if Erp::Core.available?("ortho_k") %>
                    <th width="15%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= 'Số Lô/Sê-ri' %></th>
                <% end %>
                <th width="15%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.note') %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-green-jungle bg-font-green-jungle text-center uppercase bold" colspan="2"><strong><%= t('.total_all') %></strong></td>
                <td class="bg-green-jungle bg-font-green-jungle text-center bold"><strong><%= format_number(@stock_check_details.total_stock) %></strong></td>
                <td class="bg-green-jungle bg-font-green-jungle text-center bold"><strong><%= format_number(@stock_check_details.total_real) %></strong></td>
                <td class="bg-green-jungle bg-font-green-jungle text-center bold"><strong><%= format_number(@stock_check_details.total_quantity) %></strong></td>
                <td class="bg-green-jungle bg-font-green-jungle text-center"></td>
                <% if Erp::Core.available?("ortho_k") %>
                    <td class="bg-green-jungle bg-font-green-jungle text-center"></td>
                <% end %>
                <td class="bg-green-jungle bg-font-green-jungle text-center"></td>
            </tr>
            <% @stock_check_details.each do |stock_check_detail| %>
                <tr>
                    <% if !Erp::Core.available?('ortho_k') %>
                        <td class="text-left bold"><%= stock_check_detail.product_code %></td>
                    <% end %>
                    <td class="text-left bold"><%= backend_product_link(stock_check_detail.product) %></td>
                    <td class="text-center"><%= stock_check_detail.product_unit %></td>
                    <td class="text-center"><%= format_number(stock_check_detail.stock) %></td>
                    <td class="text-center"><%= format_number(stock_check_detail.real) %></td>
                    <td class="text-center"><%= format_number(stock_check_detail.quantity) %></td>
                    <td class="text-center"><%= stock_check_detail.state_name %></td>
                    <td class="text-left"><%= stock_check_detail.serials %></td>
                    <td class="text-left"><%= stock_check_detail.note %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= erp_datalist_pagination(@stock_check_details) %>
<% end %>