<%= form_for([erp_products, :backend, category]) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'category[name]',
                            value: category.name,                   
                            label: t('.name'),
                            required: true,
                            errors: category.errors.full_messages_for(:name)
                        }) %>
                        <%= erp_form_control("dataselect", {
                            name: 'category[parent_id]',
                            value: category.parent_id,
                            text: category.parent_name,
                            placeholder: t('.choose_parent_category'),
                            label: t('.parent_category'),
                            url: erp_products.dataselect_backend_categories_path(format: 'json'),
                            create: {
                                url: erp_products.new_backend_category_path,
                                title: t('.create'),
                                container_selector: '.new_category',
                                input_selector: 'input[name="category[name]"]'
                            }
                        }) %>
                        <%= erp_form_control('checkbox', {
                            name: 'category[unique_specs]',
                            id: 'category_unique_specs',
                            value: category.unique_specs,
                            not_selected_value: 'false',
                            label: t('.category_unique_specs'),
                            options: [{value: 'true', text: t('.unique_specs')}]
                        }) %>
                        <%= erp_form_control("textarea", {
                            name: 'category[short_meta_description]',
                            value: category.short_meta_description,                   
                            label: t('.short_meta_description'),
                            placeholder: t('.enter_short_meta_description')
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-custom ">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_property_group" data-toggle="tab"> <%= t('.add_property_group') %> </a>
                    </li>
                </ul>
                <div class="tab-content order-details">
                    <div class="tab-pane addableform-table active" id="tab_property_group">
                        <%= erp_form_control("dataselect", {
                            name: 'category[property_group_ids][]',
                            values: (category.property_groups.map {|property_group| {text: property_group.get_name, value: property_group.id}}),
                            multiple: true,
                            label: t('.property_groups'),
                            placeholder: t('.choose_property_groups'),
                            url: erp_products.dataselect_backend_property_groups_path(format: 'json'),
                            create: {
                                url: erp_products.new_backend_property_group_path,
                                title: t('.create_property_group'),
                                container_selector: '.new_property_group',
                                input_selector: 'input[name="property_group[name]"]'
                            }
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_products.backend_categories_path
    }) %>
<% end %>