<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'><%= erp_datalist_check_all %></th>
            <% if get_columns(params).include?("name") %><th class="sortable" sort-by='erp_products_categories.name'><%= t('.name') %></th><% end %>
            <% if get_columns(params).include?("product_count") %>
                <th><%= t('.product_count') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th class="text-center"><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_products_categories.created_at'><%= t('created_at') %></th>
            <% end %>
            <th width="7%" class="sortable text-nowrap" sort-by='erp_products_categories.custom_order'><%= t('custom_order') %></th>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr class="odd gradeX">
                <td><%= erp_datalist_check_row(id: category.id) %></td>
                <% if get_columns(params).include?("name") %>
                    <td>
                        <% if can? :create, category %>
                            <%= link_to category.full_name, erp_products.edit_backend_category_path(category), class: 'title' %>
                        <% else %>
                            <strong><%= category.full_name %></strong>
                        <% end %>
                        <% if category.menus.count > 0 %>
                            <% count = category.menus.count %>
                            <br><em><strong>Menus: </strong>
                                <% category.menus.each_with_index do |menu,index| %>
                                    <% if count == (index+1) %>
                                        <%= menu.name %>
                                    <% else %>
                                        <%= menu.name %>,
                                    <% end %>
                                <% end %>
                            </em>
                        <% end %>
                        <% if category.short_meta_description.present? %><br><em><strong>Meta Description (<%= category.short_meta_description.length %>): </strong><%= category.short_meta_description %><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("product_count") %>
                    <td><%= category.product_count %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td class="text-center">
                    <% if category.archived == true %>
                        <span class="label label-danger"><%= t('archived') %></span>
                    <% else %>
                        <span class="label label-success"><%= t('active') %></span>
                    <% end %>
                    <% if category.unique_specs == true %>
                        <br><span class="label label-success"><%= t('.specs_OK') %></span>
                    <% else %>
                        <br><span class="label label-danger"><%= t('.specs_nonOK') %></span>
                    <% end %>
                    <% if category.is_new_specs == true %>
                        <br><span class="label label-success"><%= t('.is_new_specs_OK') %></span>
                    <% else %>
                        <br><span class="label label-danger"><%= t('.is_new_specs_nonOK') %></span>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: category.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= category.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td class="text-center text-semibold">
                    <%= category.custom_order %><br>
                    <% if params[:sort_by] == 'erp_products_categories.custom_order' %>
                        <%= link_to '<i class="fa fa-caret-square-o-up icon-big"></i>'.html_safe, 
                            erp_products.move_up_backend_categories_path(id: category), method: 'PUT', class: 'ajax-link' %>
                        <%= link_to '<i class="fa fa-caret-square-o-down icon-big"></i>'.html_safe, 
                            erp_products.move_down_backend_categories_path(id: category), method: 'PUT', class: 'ajax-link' %>
                    <% end %>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-cog"></i><%= t('core.options') %><i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <%= link_to '<i class="fa fa-edit"></i> '.html_safe + t('.edit'), 
                                    erp_products.edit_backend_category_path(category) %>
                            </li>
                            <li class="divider"></li>
                            <% if !category.archived %>
                                <li>
                                    <%= link_to '<i class="fa fa-eye-slash"></i> '.html_safe + t('archive'), 
                                        erp_products.archive_backend_categories_path(category),
                                        method: 'PUT', data: {confirm: t('.archive_confirm')}, class: 'ajax-link' %>
                                </li>
                            <% end %>
                            <% if category.archived %>
                                <li>
                                    <%= link_to '<i class="fa fa-eye"></i> '.html_safe + t('unarchive'), 
                                        erp_products.unarchive_backend_categories_path(category),
                                        method: 'PUT', data: {confirm: t('.unarchive_confirm')}, class: 'ajax-link' %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @categories.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
<%= erp_datalist_pagination(@categories) %>