<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'><%= erp_datalist_check_all %></th>
            <% if get_columns(params).include?("name") %><th class="sortable" sort-by='erp_products_categories.name'><%= t('.name') %></th><% end %>
            <% if get_columns(params).include?("product_count") %>
                <th><%= t('.product_count') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_products_categories.created_at'><%= t('created_at') %></th>
            <% end %>
            <th width="7%" class="sortable text-nowrap" sort-by='erp_products_categories.custom_order'><%= t('custom_order') %></th>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: category.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td>
                        <% if can? :create, category %>
                            <%= link_to category.full_name, erp_products.edit_backend_category_path(category), class: 'title' %>
                        <% else %>
                            <strong><%= category.full_name %></strong>
                        <% end %>
                        <% if category.menus.count > 0 %>
                            <% count = category.menus.count %>
                            <br><em><strong>Menus: </strong>
                                <% category.menus.each_with_index do |menu,index| %>
                                    <% if count == (index+1) %>
                                        <%= menu.name %>
                                    <% else %>
                                        <%= menu.name %>,
                                    <% end %>
                                <% end %>
                            </em>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("product_count") %>
                    <td><%= category.product_count %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if category.archived == true %>
                        <%= erp_component('label/danger', {
                            text: t('archived')
                        }) %>
                    <% else %>
                        <%= erp_component('label/success', {
                            text: t('active')
                        }) %>
                    <% end %>
                    <% if category.unique_specs == true %>
                        <%= erp_component('label/success', {
                            text: t('.specs_OK')
                        }) %>
                    <% else %>
                        <%= erp_component('label/danger', {
                            text: t('.specs_nonOK')
                        }) %>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: category.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= category.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td class="text-center text-semibold">
                    <%= erp_datalist_order_column({
                        item: category,
                        move_up_url: erp_products.move_up_backend_categories_path(id: category),
                        move_down_url: erp_products.move_down_backend_categories_path(id: category),
                        sort_by: 'erp_products_categories.custom_order'
                    }) %>
                </td>
                <td class="text-right"><%= category_dropdown_actions(category) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @categories.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
<%= erp_datalist_pagination(@categories) %>