<% content_for :title do %>
    <%= t('.state_checks') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-cubes"></i> <%= t('.state_checks') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_products.new_backend_state_check_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.state_check_date'),
                name: 'state_check_date',
                placeholder: t('.select_check_date')
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_products.list_backend_state_checks_path,
    keywords: [
        {
            text: t('.name'), name: 'erp_products_state_checks.name'
        },
        {
            text: t('.employee'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        },
        {
            text: t('creator'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        }
    ],
    actions: [
        {
            text: '<i class="fa fa-file-o"></i> '+t('.change_draft'),
            url: erp_products.status_draft_all_backend_state_checks_path,
            data_method: 'PUT'
        },
        {
            text: '<i class="fa fa-file-text-o"></i> '+t('.change_active'),
            url: erp_products.status_active_all_backend_state_checks_path,
            data_method: 'PUT'
        },
        {
            divider: true
        },
        {
            text: '<i class="fa fa-trash"></i> '+t('.change_deleted'),
            url: erp_products.status_deleted_all_backend_state_checks_path,
            data_method: 'PUT',
            data_confirm: t('.change_deleted_confirm')
        }
    ],
    filters: [
        {
            text: t('.is_draft'), name: 'erp_products_state_checks.status', value: 'draft', checked: false
        },
        {
            text: t('.is_active'), name: 'erp_products_state_checks.status', value: 'active', checked: false
        },
        {
            text: t('.is_deleted'), name: 'erp_products_state_checks.status', value: 'deleted', checked: false
        }
    ],
    columns: [
        {
            text: t('.name'), name: 'name', value: true, checked: true
        },
        {
            text: t('.employee'), name: 'employee', value: true, checked: true
        },
        {
            text: t('.check_date'), name: 'check_date', value: true, checked: true
        },
        {
            text: t('status'), name: 'status', value: true, checked: true
        },
        {
            text: t('creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('created_at'), name: 'created_at', value: true, checked: false
        }
    ],
    sort: { sort_by: 'erp_products_state_checks.created_at', sort_direction: 'desc' }
) %>