<% content_for :title do %>
    <%= t('.state_checks') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-get-pocket"></i> <%= t('.state_checks') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_products.new_backend_state_check_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: 'Từ ngày',
                name: 'from_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: 'Đến ngày',
                name: 'to_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: (@period.present? ? @period.id : ''),
                text: (@period.present? ? @period.name : ''),
                placeholder: 'Chọn khoảng thời gian',
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_products.list_backend_state_checks_path,
    keywords: [
        {
            text: t('.code'), name: 'erp_products_state_checks.code'
        },
        {
            text: t('.employee'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        },
        {
            text: t('creator'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        }
    ],
    actions: [
        {
            text: '<i class="fa fa-file-o"></i> '+t('.change_draft'),
            url: erp_products.status_draft_all_backend_state_checks_path,
            data_method: 'PUT'
        },
        {
            text: '<i class="fa fa-check"></i> '+t('.change_active'),
            url: erp_products.status_active_all_backend_state_checks_path,
            data_method: 'PUT'
        },
        {
            divider: true
        },
        {
            text: '<i class="fa fa-trash"></i> '+t('.change_deleted'),
            url: erp_products.status_deleted_all_backend_state_checks_path,
            data_method: 'PUT',
            data_confirm: t('.change_deleted_confirm')
        }
    ],
    filters: [
        {
            text: t('.is_draft'), name: 'erp_products_state_checks.status', value: 'draft', checked: false
        },
        {
            text: t('.is_active'), name: 'erp_products_state_checks.status', value: 'active', checked: true
        },
        {
            text: t('.is_deleted'), name: 'erp_products_state_checks.status', value: 'deleted', checked: false
        }
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.check_date'), name: 'check_date', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.employee'), name: 'employee', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
        {
            text: t('status'), name: 'status', value: true, checked: true
        },
        {
            text: t('creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('created_at'), name: 'created_at', value: true, checked: false
        }
    ],
    sort: { sort_by: 'erp_products_state_checks.created_at', sort_direction: 'desc' }
) %>
