<table class="table table-bordered table-striped flip-content">
    <thead class="flip-content">
        <tr>
            <% if !Erp::Core.available?('ortho_k') %>
                <th width="20%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.code') %></th>
            <% end %>
            <th width="25%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.name') %></th>
            <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.unit') %></th>
            <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.quantity') %></th>
            <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.old_state') %></th>
            <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.state') %></th>
            <th width="25%" class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap"><%= t('.note') %></th>
        </tr>
    </thead>
    <tbody>
        <% @state_check.state_check_details.each do |state_check_detail| %>
        <tr>
            <% if !Erp::Core.available?('ortho_k') %>
                <td class="text-left bold"><%= state_check_detail.get_product_code %></td>
            <% end %>
            <td class="text-left bold"><%= backend_product_link(state_check_detail.product) %></td>
            <td class="text-center"><%= state_check_detail.get_product_unit %></td>
            <td class="text-center"><%= state_check_detail.quantity %></td>
            <td class="text-center"><%= state_check_detail.get_old_state_name %></td>
            <td class="text-center"><%= state_check_detail.get_state_name %></td>
            <td class="text-left"><%= state_check_detail.note %></td>
        </tr>
        <% end %>
    </tbody>
</table>