<%= form_for([erp_products, :backend, state], html: {multipart: true}) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'state[name]',
                            value: state.name,
                            id: "state_name",
                            label: t('.name'),
                            placeholder: t('.enter_name'),
                            required: true,
                            errors: state.errors.full_messages_for(:name)
                        }) %>
                        <%= erp_form_control('textarea', {
                            name: 'state[description]',
                            value: state.description,
                            placeholder: t('.enter_description'),
                            label: t('.description')
                        }) %>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_products.backend_states_path
    }) %>
<% end %>
<script>
  window.onload = function() {
    document.getElementById("state_name").focus();
  };
</script>