<% content_for :title do %><%= t('.create') %><% end %>

<% content_for :page_title do %>
    <a href="<%= erp.backend_path %>"><i class="fa fa-th"></i> <%= t('.products') %></a> /
    <a href="<%= erp_products.backend_properties_path %>"><%= t('.properties') %></a> /
    <%= t('.create') %>
<% end %>

<div class="row">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-body"><%= render 'form', property: @property %></div>
        </div>
    </div>
</div>
