<%= form_for([erp_products, :backend, brand], html: {multipart: true}) do |f| %>
    <div class="form-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-2">
                        <%= erp_form_control('image', {
                            img_src: brand.image_url.smaller,
                            name: 'brand[image_url]',
                            label: 'LOGO THƯƠNG HIỆU',
                            width: 150,
                            height: 150
                        }) %>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control('text', {
                                    name: 'brand[name]',
                                    value: brand.get_name,                   
                                    label: 'Tên thương hiệu',
                                    placeholder: 'Nhập tên thương hiệu...',
                                    required: true,
                                    errors: brand.errors.full_messages_for(:name)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('checkbox', {
                                    name: 'brand[is_main]',
                                    value: brand.is_main,
                                    not_selected_value: 'false',
                                    label: 'Hiển thị ngoài website',
                                    options: [{value: 'true', text: 'Lựa chọn'}]
                                }) %>
                            </div>
                        </div>
                        <%= erp_form_control('editor', {
                            name: 'brand[description]',
                            value: brand.description,                   
                            label: 'Giới thiệu',
                            type: 'tiny'
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {text: 'LƯU THÔNG TIN'}) %><%= erp_component('button/cancel', {text: 'HỦY LƯU THÔNG TIN', href: erp_products.backend_brands_path}) %>
<% end %>