<%= form_for([erp_products, :backend, brand], html: {multipart: true}) do |f| %>
    <div class="form-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-2">
                        <%= erp_form_control('image', {
                            img_src: brand.image_url.smaller,
                            name: 'brand[image_url]',
                            width: 150,
                            height: 150
                        }) %>
                    </div>
                    <div class="col-md-6">
                        <%= erp_form_control("text", {
                            name: 'brand[name]',
                            value: brand.name,                   
                            label: t('.name'),
                            placeholder: t('.enter_name'),
                            required: true,
                            errors: brand.errors.full_messages_for(:name)
                        }) %>
                    </div>
                    <div class="col-md-4">
                        <%= erp_form_control('checkbox', {
                            name: 'brand[is_main]',
                            value: brand.is_main,
                            not_selected_value: 'false',
                            label: t('.brand_is_main'),
                            options: [{value: 'true', text: t('.is_main')}]
                        }) %>
                    </div>
                </div>
                <%= erp_form_control("editor", {
                    name: 'brand[description]',
                    value: brand.description,                   
                    label: t('.description'),
                    placeholder: t('.enter_description'),
                    type: "tiny"
                }) %>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_products.backend_brands_path
    }) %>
<% end %>