<% content_for :title do %>
    <%= @brand.name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_products.backend_brands_path %>">
    <i class="fa fa-gg"></i> <%= t('.brands') %>
    </a> / <%= @brand.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_products.new_backend_brand_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @brand.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', brand: @brand %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>