<% content_for :title do %>Cập Nhật Thương Hiệu: <%= @brand.get_name %><% end %>
<% content_for :page_title do %><%= link_to '<i class="fa fa-th"></i> Danh Sách Thương Hiệu'.html_safe, erp_products.backend_brands_path %> / Cập Nhật Thương Hiệu: <%= @brand.get_name %><% end %>
<% content_for :page_toolbar do %><%= erp_component('button/create', {text: 'Tạo thương hiệu mới', href: erp_products.new_backend_brand_path, class: 'btn-noborder'}) %><% end %>
<div class="row"><div class="col-md-12"><% if @brand.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', brand: @brand %></div></div>