<li class="nav-item <%= "active open" if ["erp/products/backend/products","erp/products/backend/categories","erp/products/backend/manufacturings","erp/products/backend/price_lists","erp/deliveries/backend/deliveries"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-archive"></i>
        <span class="title"><%= t('.inventory') %></span>
        <% if ["erp/products/backend/categories"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <% if Erp::Core.available?("deliveries") %>
        <li class="nav-item">
            <a href="<%= erp_deliveries.backend_deliveries_path %>" class="nav-link">
                <span class="title"><%= t('.deliveries') %></span>
            </a>
        </li>
        <% end %>
        <li class="nav-item">
            <a href="<%= erp_products.backend_products_path %>" class="nav-link">
                <span class="title"><%= t('.products') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= erp_products.backend_categories_path %>" class="nav-link">
                <span class="title"><%= t('.categories') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= erp_products.backend_price_lists_path %>" class="nav-link">
                <span class="title"><%= t('.price_lists') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= erp_products.backend_manufacturings_path %>" class="nav-link">
                <span class="title"><%= t('.manufacturings') %></span>
            </a>
        </li>
    </ul>
</li>