<%= form_for([erp_products, :backend, product], html: {multipart: true}) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-5">
                                <%= erp_form_control("text", {
                                    name: 'product[code]',
                                    value: product.code,
                                    label: t('.code'),
                                    help: t('.help_product_code'),
                                    placeholder: t('.placeholder_product_code')
                                }) %>
                                <%= erp_form_control("text", {
                                    name: 'product[name]',
                                    value: product.name,
                                    label: t('.name'),
                                    help: t('.help_product_name'),
                                    placeholder: t('.placeholder_product_name'),
                                    errors: product.errors.full_messages_for(:name)
                                }) %>
                                <%= erp_form_control("text", {
                                    name: 'product[short_name]',
                                    value: product.short_name,
                                    label: t('.short_name'),
                                    help: t('.help_product_short_name'),
                                    placeholder: t('.placeholder_product_short_name')
                                }) %>
                                <div class="row form-control-mb-0">
                                    <div class="col-md-6">
                                        <%= erp_form_control('checkbox', {
                                            name: 'product[can_be_sold]',
                                            id: 'product_can_be_sold',
                                            value: product.can_be_sold,
                                            not_selected_value: 'false',
                                            options: [{value: 'true', text: t('.can_be_sold')}]
                                        }) %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= erp_form_control('checkbox', {
                                            name: 'product[can_be_purchased]',
                                            id: 'product_can_be_purchased',
                                            value: product.can_be_purchased,
                                            not_selected_value: 'false',
                                            options: [{value: 'true', text: t('.can_be_purchased')}]
                                        }) %>
                                    </div>
                                </div>
                                <div class="row form-control-mb-0">
                                    <div class="col-md-6">
                                        <%= erp_form_control('checkbox', {
                                            name: 'product[is_for_pos]',
                                            id: 'product_is_for_pos',
                                            value: product.is_for_pos,
                                            not_selected_value: 'false',
                                            options: [{value: 'true', text: t('.is_for_pos')}],
                                            help: t('.help_is_for_pos')
                                        }) %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= erp_form_control('checkbox', {
                                            name: 'product[point_enabled]',
                                            id: 'product_point_enabled',
                                            value: product.point_enabled,
                                            not_selected_value: 'false',
                                            options: [{value: 'true', text: t('.point_enabled')}]
                                        }) %>
                                    </div>
                                </div>
                                <% if Erp::Core.available?("ortho_k") %>
                                    <div class="row form-control-mb-0">
                                        <div class="col-md-6">
                                            <%= erp_form_control('checkbox', {
                                                name: 'product[is_outside]',
                                                id: 'is_outside',
                                                value: product.is_outside,
                                                not_selected_value: 'false',
                                                options: [{value: 'true', text: 'Len ngoài bảng'}],
                                                help: 'Len ngoài bảng'
                                            }) %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class="col-md-7">
                                <%= erp_form_control("images", {
                                    name: 'product[product_images_attributes][__index__][image_url]',
                                    name_cache: 'product[product_images_attributes][__index__][image_url_cache]',
                                    id_name: 'product[product_images_attributes][__index__][id]',
                                    destroy_name: 'product[product_images_attributes][__index__][_destroy]',
                                    label: t('.images'),
                                    width: 122,
                                    height: 122,
                                    images: @product.product_images,
                                    origin_attribute: 'image_url',
                                    image_attribute: 'image_url.small',
                                    image_thumb: :small,
                                    hidden_params: [
                                        {name: 'product[product_images_attributes][__index__][product_id]', value: @product.id}
                                    ]
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab"> <%= t('.general_information') %> </a>
                        </li>
                        <li>
                            <a href="#tab_5_2" data-toggle="tab"> <%= t('.properties') %> </a>
                        </li>
                        <li>
                            <a href="#tab_5_3" data-toggle="tab"> <%= t('.products_units') %> </a>
                        </li>
                        <li>
                            <a href="#tab_5_4" data-toggle="tab"> <%= t('.parts') %> </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_5_1">
                            <div class="row">
                                <div class="col-md-4">
                                    <%= erp_form_control("dataselect", {
                                        name: 'product[category_id]',
                                        value: product.category_id,
                                        text: product.category_name,
                                        placeholder: t('.choose_category'),
                                        label: t('.category'),
                                        help: t('.help_category'),
                                        url: erp_products.dataselect_backend_categories_path(format: 'json'),
                                        create: {
                                            url: erp_products.new_backend_category_path,
                                            title: t('.create_category'),
                                            container_selector: '.new_category',
                                            input_selector: 'input[name="category[name]"]'
                                        },
                                        edit: {
                                            url: erp_products.edit_backend_category_path(id: ':value'),
                                            title: t('.edit_category'),
                                            container_selector: '.edit_category',
                                        },
                                        required: true,
                                        errors: product.errors.full_messages_for(:category_id)
                                    }) %>
                                </div>
                                <div class="col-md-4">
                                    <%= erp_form_control("dataselect", {
                                        name: 'product[brand_id]',
                                        value: product.brand_id,
                                        text: product.brand_name,
                                        placeholder: t('.choose_brand'),
                                        label: t('.brand'),
                                        help: t('.help_brand'),
                                        url: erp_products.dataselect_backend_brands_path(format: 'json'),
                                        create: {
                                            url: erp_products.new_backend_brand_path,
                                            title: t('.create_brand'),
                                            container_selector: '.new_brand',
                                            input_selector: 'input[name="brand[name]"]'
                                        },
                                        errors: product.errors.full_messages_for(:brand_id)
                                    }) %>                                    
                                </div>
                                <div class="col-md-4">
                                    <%= erp_form_control("text", {
                                        name: 'product[barcode]',
                                        value: product.barcode,
                                        label: t('.barcode'),
                                        help: t('.help_barcode')
                                    }) %>
                                </div>
                            </div>
                            <% if !Erp::Core.available?("ortho_k") %>
                                <div class="row">
                                    <div class="col-md-4">
                                        <%= erp_form_control("number", {
                                            name: 'product[cost]',
                                            value: product.cost,
                                            label: t('.cost'),
                                            help: t('.help_cost')
                                        }) %>
                                    </div>
                                    <div class="col-md-4">
                                        <%= erp_form_control("number", {
                                            name: 'product[price]',
                                            value: product.price,
                                            label: t('.sale_price'),
                                            help: t('.help_price')
                                        }) %>
                                    </div>
                                    <div class="col-md-4">
                                        <%= erp_form_control("number", {
                                            name: 'product[on_hand]',
                                            value: product.on_hand,
                                            label: t('.on_hand'),
                                            help: t('.help_on_hand')
                                        }) %>
                                    </div>
                                </div>
                            <% end %>
                        </div>

                        <div class="tab-pane" id="tab_5_2">
                            <div class="product-property-container" data-url="<%= erp_products.property_form_backend_products_path(id: product.id) %>">
                                <%= render partial: 'erp/products/backend/products/property_form', locals: {product: product} %>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_5_3">
                            <div class="row">
                                <div class="col-md-4">
                                    <%= erp_form_control("dataselect", {
                                        name: 'product[unit_id]',
                                        value: product.unit_id,
                                        text: product.unit_name,
                                        placeholder: t('.choose_base_unit'),
                                        label: t('.base_unit'),
                                        help: t('.help_base_unit'),
                                        url: erp_products.dataselect_backend_units_path(format: 'json'),
                                        create: {
                                            url: erp_products.new_backend_unit_path,
                                            title: t('.create_unit'),
                                            container_selector: '.new_unit',
                                            input_selector: 'input[name="unit[name]"]'
                                        },
                                        edit: {
                                            url: erp_products.edit_backend_unit_path(id: ':value'),
                                            title: t('.edit_unit'),
                                            container_selector: '.edit_unit',
                                        }
                                    }) %>
                                </div>
                            </div>
                            <%= erp_form_control("addableform", {
                                add_button: t('.add_unit'),
                                partial: 'erp/products/backend/products_units/form_line',
                                partial_url: erp_products.form_line_backend_products_units_path,
                                items: @product.products_units,
                                item: :products_unit
                            }) %>
                        </div>
                        <div class="tab-pane addableform-table" id="tab_5_4">
                            <%= erp_form_control("addableform", {
                                type: 'table',
                                add_button: t('.add_part'),
                                partial: 'erp/products/backend/products_parts/part_form',
                                partial_url: erp_products.part_form_backend_products_parts_path,
                                items: @product.products_parts,
                                item: :products_part,
                                add_control_selector: "input[name='product_id']",
                                add_control: erp_form_control("dataselect", {
                                    name: 'product_id',
                                    value: product.id,
                                    placeholder: t('.choose_product_part'),
                                    label: t('.product_part'),
                                    help: t('.help_product_part'),
                                    url: erp_products.dataselect_backend_products_path(format: 'json'),
                                    create: {
                                        url: erp_products.new_backend_product_path,
                                        title: t('.create_product_part'),
                                        container_selector: '.new_product',
                                        input_selector: 'input[name="product[name]"]'
                                    },
                                    edit: {
                                        url: erp_products.edit_backend_product_path(id: ':value'),
                                        title: t('.edit_product_part'),
                                        container_selector: '.edit_product',
                                    }
                                }),
                                thead: "<th>#{t('.part_code')}</th>
                                        <th>#{t('.part_name')}</th>
                                        <th>#{t('.quantity')}</th>
                                        <th>#{t('.cost')}</th>
                                        <th>#{t('.total')}</th>
                                        <th>#{t('.action')}</th>"
                            }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_products.backend_products_path
    }) %>
<% end %>
