<%= form_for([erp_products, :backend, product], html: {multipart: true}) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-5">
                                <%= erp_form_control("text", {
                                    name: 'product[name]',
                                    value: product.name,
                                    label: t('.name'),
                                    required: true,
                                    errors: product.errors.full_messages_for(:name)
                                }) %>
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= erp_form_control('checkbox', {
                                            name: 'product[can_be_sold]',
                                            id: 'product_can_be_sold',
                                            value: product.can_be_sold,
                                            not_selected_value: 'false',
                                            options: [{value: 'true', text: t('.can_be_sold')}]
                                        }) %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= erp_form_control('checkbox', {
                                            name: 'product[can_be_purchased]',
                                            id: 'product_can_be_purchased',
                                            value: product.can_be_purchased,
                                            not_selected_value: 'false',
                                            options: [{value: 'true', text: t('.can_be_purchased')}]
                                        }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <%= erp_form_control("images", {
                                    name: 'product[product_images_attributes][__index__][image_url]',
                                    name_cache: 'product[product_images_attributes][__index__][image_url_cache]',
                                    id_name: 'product[product_images_attributes][__index__][id]',
                                    destroy_name: 'product[product_images_attributes][__index__][_destroy]',
                                    label: 'Images',
                                    width: 130,
                                    height: 130,
                                    max: 6,
                                    images: @product.product_images,
                                    origin_attribute: 'image_url',
                                    image_attribute: 'image_url.small',
                                    image_thumb: :small,
                                    hidden_params: [
                                        {name: 'product[product_images_attributes][__index__][product_id]', value: @product.id}
                                    ]
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="tabbable-custom ">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_5_1" data-toggle="tab"> <%= t('.general_information') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_2" data-toggle="tab"> <%= t('.inventory') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_3" data-toggle="tab"> <%= t('.invoicing') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_4" data-toggle="tab"> <%= t('.notes') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_5" data-toggle="tab"> <%= t('.properties') %> </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_5_1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <%= erp_form_control('select', {
                                                label: t('.product_type'),
                                                name: 'product[product_type]',
                                                value: product.product_type,
                                                options: Erp::Products::Product.get_product_type_options()
                                            }) %>
                                            <%= erp_form_control("text", {
                                                name: 'product[barcode]',
                                                value: product.barcode,
                                                label: t('.barcode')
                                            }) %>
                                        </div>
                                        <div class="col-md-6">
                                            <%= erp_form_control("number", {
                                                name: 'product[sale_price]',
                                                value: product.sale_price,
                                                label: t('.sale_price')
                                            }) %>
                                            <%= erp_form_control("number", {
                                                name: 'product[cost]',
                                                value: product.cost,
                                                label: t('.cost')
                                            }) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_5_2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <%= erp_form_control("dataselect", {
                                                name: 'product[category_id]',
                                                value: product.category_id,
                                                text: product.category_name,
                                                placeholder: t('.choose_category'),
                                                label: t('.category'),
                                                url: erp_products.dataselect_backend_categories_path(format: 'json'),
                                                create: {
                                                    url: erp_products.new_backend_category_path,
                                                    title: t('.create_category'),
                                                    container_selector: '.new_category',
                                                    input_selector: 'input[name="category[name]"]'
                                                },
                                                edit: {
                                                    url: erp_products.edit_backend_category_path(id: ':value'),
                                                    title: t('.edit_category'),
                                                    container_selector: '.edit_category',
                                                },
                                                required: true,
                                                errors: product.errors.full_messages_for(:category_id)
                                            }) %>
                                        </div>
                                        <div class="col-md-6">
                                            <%= erp_form_control("number", {
                                                name: 'product[weight]',
                                                value: product.weight,
                                                label: t('.weight')
                                            }) %>
                                            <%= erp_form_control("number", {
                                                name: 'product[volume]',
                                                value: product.volume,
                                                label: t('.volume')
                                            }) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_5_3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <%= erp_form_control("dataselect", {
                                                name: 'product[customer_tax_ids][]',
                                                values: (product.customer_taxes.map {|tax| {text: tax.name, value: tax.id}}),
                                                multiple: true,
                                                label: t('.customer_taxes'),
                                                placeholder: t('.choose_taxes'),
                                                url: erp_taxes.dataselect_backend_taxes_path(format: 'json', scope: 'sales'),
                                                create: {
                                                    url: erp_taxes.new_backend_tax_path,
                                                    title: t('.create'),
                                                    container_selector: '.new_customer_tax',
                                                    input_selector: 'input[name="tax[name]"]'
                                                }
                                            }) %>
                                        </div>
                                        <div class="col-md-6">
                                            <%= erp_form_control("dataselect", {
                                                name: 'product[vendor_tax_ids][]',
                                                values: (product.vendor_taxes.map {|tax| {text: tax.name, value: tax.id}}),
                                                multiple: true,
                                                label: t('.vendor_taxes'),
                                                placeholder: t('.choose_taxes'),
                                                url: erp_taxes.dataselect_backend_taxes_path(format: 'json', scope: 'purchases'),
                                                create: {
                                                    url: erp_taxes.new_backend_tax_path,
                                                    title: t('.create'),
                                                    container_selector: '.new_vendor_tax',
                                                    input_selector: 'input[name="tax[name]"]'
                                                }
                                            }) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_5_4">
                                    <h4><%= t('.description_for_quotations') %></h4>
                                    <%= erp_form_control("textarea", {
                                        name: 'product[quotations_description]',
                                        value: product.quotations_description,
                                        placeholder: t('.enter_quotations_description')
                                    }) %>
                                    <h4><%= t('.description_for_pickings') %></h4>
                                    <%= erp_form_control("textarea", {
                                        name: 'product[pickings_description]',
                                        value: product.pickings_description,
                                        placeholder: t('.enter_pickings_description')
                                    }) %>
                                </div>
                                <div class="tab-pane" id="tab_5_5">
                                    <%= erp_form_control("addableform", {
                                        add_button: t('.add'),
                                        partial: 'erp/products/backend/products/form_property',
                                        partial_url: erp_products.form_property_backend_products_path,
                                        items: @product.products_properties,
                                        item: :products_property
                                    }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('.submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('.cancel'),
        href: erp_products.backend_products_path
    }) %>
<% end %>