<% tabid = unique_id %>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-custom ">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_<%= tabid %>_1" data-toggle="tab"> <%= t('.general') %> </a>
                </li>
                <% if Erp::Core.available?("ortho_k") ? (can? :inventory_products_products_view_stock, nil) : true  %>
                    <li>
                        <a href="#tab_<%= tabid %>_2" data-toggle="tab"> <%= t('.stock') %> </a>
                    </li>
                <% end %>
                <% if false %>
                <li>
                    <a href="#tab_<%= tabid %>_3" data-toggle="tab"> <%= t('.images') %> </a>
                </li>
                <% end %>
                <% if Erp::Core.available?("qdeliveries") and Erp::Core.available?("ortho_k") and (can? :inventory_products_products_import_export_history, nil) %>
                    <li>
                        <a href="#tab_<%= tabid %>_4" data-toggle="tab"> <%= t('.import_export_warehouse') %> </a>
                    </li>
                <% end %>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_<%= tabid %>_1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-yellow-mint bold mb-15 text-left">
                                Thông tin chung
                            </h5>
                            <hr class="mt-10">
                            <p class="mb-5 text-left">
                                <label class="bold">Mã sản phẩm:</label>
                                <span><%= product.code %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Mã vạch:</label>
                                <span><%= product.barcode %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Tên rút gọn:</label>
                                <span><%= product.short_name %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Thương hiệu:</label>
                                <span><%= product.brand_name %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Loại/Danh mục:</label>
                                <span><%= product.category_name %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Đơn vị tính:</label>
                                <span><%= product.unit_name %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Trạng thái:</label>
                                <span><%= product.category_name %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Người tạo:</label>
                                <span><%= product.creator_name %></span>
                            </p>
                            <p class="no-margin mb-5 text-left">
                                <label class="bold">Ngày tạo:</label>
                                <span><%= product.created_at.strftime('%d/%m/%Y %H:%M') %></span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-yellow-mint bold mb-15 text-left">
                                Thông tin giao dịch
                            </h5>
                            <hr class="mt-10">
                            <% if Erp::Core.available?("ortho_k") %>
                                <% if Erp::Core.available?("prices") %>
                                    <p class="mb-5 text-left">
                                        <label class="bold">Giá vốn:</label>
                                        <span style="margin-top: -10px;">
                                            <% product.get_related_purchase_prices_rows(contact_id: -1).each do |p_row| %>
                                                <span style='display: block; padding-left: 40px'><%= p_row[:min_max] %>: <%= format_price(p_row[:price]) %></span>
                                            <% end %>
                                        </span>
                                    </p>
                                    <p class="no-margin mb-5 text-left">
                                        <label class="bold">Giá bán:</label>
                                        <span style="margin-top: -10px;">
                                            <% product.get_related_sales_prices_rows(contact_id: -1).each do |p_row| %>
                                                <span style='display: block; padding-left: 40px'><%= p_row[:min_max] %>: <%= format_price(p_row[:price]) %></span>
                                            <% end %>
                                        </span>
                                    </p>
                                <% end %>
                            <% else %>
                                <p class="mb-5 text-left">
                                    <label class="bold">Giá vốn:</label>
                                    <span><%= format_number(product.cost) %></span>
                                </p>
                                <p class="no-margin mb-5 text-left">
                                    <label class="bold">Giá bán:</label>
                                    <span><%= format_number(product.price) %></span>
                                </p>
                            <% end %>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-yellow-mint bold mb-15 text-left">
                                Đặc điểm, thuộc tính
                            </h5>
                            <hr class="mt-10">

                            <% if product.category.present? %>
                                <% product.category.property_groups.each do |group| %>
                                    <h4 class="text-left"><%= group.name %></h4>
                                    <% group.properties.each do |property| %>
                                        <p class="no-margin mb-5 text-left">
                                            <label class="bold"><%= property.name %>:</label>
                                            <span><%= product.products_values_by_property(property).map {|pv| pv.properties_value.value}[0] %></span>
                                        </p>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                
                <% if Erp::Core.available?("ortho_k") ? (can? :inventory_products_products_view_stock, nil) : true  %>
                    <div class="tab-pane" id="tab_<%= tabid %>_2">
                        <table class="table table-advance table-hover table-striped table-checkable order-column">
                            <tr>
                                <th></th>
                                <% Erp::Products::State.all_active.each do |state| %>
                                    <th class="text-center"><%= state.name %></th>
                                <% end %>
                                <th class="text-center">Tổng tồn</th>
                            </tr>
                            <% Erp::Warehouses::Warehouse.all.each do |warehouse| %>
                                <tr>
                                    <th class="text-left"><%= warehouse.name %></th>
                                    <% Erp::Products::State.all_active.each do |state| %>
                                        <td class="text-center">
                                            <%= product.get_stock(
                                                state_ids: state.id,
                                                warehouse_ids: warehouse.id,
                                            ) %>
                                        </td>
                                    <% end %>
                                    <td class="text-bold text-center">
                                        <%= product.get_stock(
                                            warehouse_ids: warehouse.id,
                                        ) %>
                                    </td>
                                </tr>
                            <% end %>
                            <tr>
                                <th class="text-left">Tất cả Kho</th>
                                <% Erp::Products::State.all_active.each do |state| %>
                                    <td class="text-bold text-primary text-center">
                                        <%= product.get_stock(
                                            state_ids: state.id,
                                        ) %>
                                    </td>
                                <% end %>
                                <td class="text-bold text-primary text-center">
                                    <%= product.get_stock %>
                                </td>
                            </tr>
                        </table>
                    </div>
                <% end %>
                
                <div class="tab-pane" id="tab_<%= tabid %>_3">
                    Updating...
                </div>
                
                <% if Erp::Core.available?("qdeliveries") and Erp::Core.available?("ortho_k") and (can? :inventory_products_products_import_export_history, nil) %>
                    <div class="tab-pane" id="tab_<%= tabid %>_4">
                        <h5 class="font-yellow-mint bold mb-15 text-left">
                            Lịch sử xuất nhập kho
                        </h5>
                        <hr class="mt-10 mb-15">
                        <form class="more-filter">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <%= erp_form_control('date', {
                                        label: 'Từ ngày',
                                        name: 'from_date',
                                        placeholder: 'Chọn lọc từ ngày bắt đầu'
                                    }) %>
                                </div>
                                <div class="col-md-3 text-left">
                                    <%= erp_form_control('date', {
                                        label: 'Đến ngày',
                                        name: 'to_date',
                                        placeholder: 'Chọn lọc đến ngày cuối'
                                    }) %>
                                </div>
                                <div class="col-md-3 text-left">
                                    <%= erp_form_control('select', {
                                        name: 'sort_by',
                                        label: 'Sắp xếp theo',
                                        placeholder: 'Chọn sắp xếp theo...',
                                        options: [
                                            {
                                                text: 'Ngày XNK',
                                                value: Erp::Products::Product::SORT_BY_VOUCHER_DATE
                                            },
                                            {
                                                text: 'Loại XNK (hoặc Mã XNK)',
                                                value: Erp::Products::Product::GROUPED_BY_VOUCHER_CODE
                                            }
                                        ]
                                    }) %>
                                </div>
                                <div class="col-md-3 text-left">
                                    <%= erp_form_control('select', {
                                        name: 'order_by',
                                        label: 'Hướng (Tăng/Giảm)',
                                        placeholder: 'Chọn hướng sắp xếp...',
                                        options: Erp::Products::Product.get_order_direction
                                    }) %>
                                </div>
                            </div>
                        </form>
                        <%= erp_datalist(
                            url: erp_products.import_export_table_backend_products_path(id: product.id)
                        ) %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
