<div class="custom-show">
    <h4 class="font-blue-madison bold mb-15">
        Thông tin sản phẩm: <%= product.name %>
    </h4>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tabbable-custom ">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_5_1" data-toggle="tab"> <%= t('.general') %> </a>
                </li>
                <% if false %>
                <li>
                    <a href="#tab_5_2" data-toggle="tab"> <%= t('.stock') %> </a>
                </li>
                <li>
                    <a href="#tab_5_3" data-toggle="tab"> <%= t('.images') %> </a>
                </li>
                <% end %>
                <li>
                    <a href="#tab_5_4" data-toggle="tab"> <%= t('.import_export_warehouse') %> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_5_1">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="font-yellow-mint bold mb-15">
                                Thông tin chung
                            </h5>
                            <hr class="no-margin">
                            <p class="mb-5">
                                <label class="bold">Mã sản phẩm:</label>
                                <span><%= product.code %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Mã vạch:</label>
                                <span><%= product.barcode %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Tên rút gọn:</label>
                                <span><%= product.short_name %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Thương hiệu:</label>
                                <span><%= product.brand_name %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Loại/Danh mục:</label>
                                <span><%= product.category_name %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Đơn vị tính:</label>
                                <span><%= product.unit_name %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Trạng thái:</label>
                                <span><%= product.category_name %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Người tạo:</label>
                                <span><%= product.creator_name %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Ngày tạo:</label>
                                <span><%= product.created_at.strftime('%d/%m/%Y %H:%M') %></span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-yellow-mint bold mb-15">
                                Thông tin giao dịch
                            </h5>
                            <hr class="no-margin">
                            <p class="mb-5">
                                <label class="bold">Giá vốn:</label>
                                <span><%= format_number(product.cost) %></span>
                            </p>
                            <p class="no-margin mb-5">
                                <label class="bold">Giá bán:</label>
                                <span><%= format_number(product.price) %></span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="font-yellow-mint bold mb-15">
                                Đặc điểm, thuộc tính
                            </h5>
                            <hr class="no-margin">
                            
                            <% if product.category.present? %>
                                <% product.category.property_groups.each do |group| %>
                                    <h4><%= group.name %></h4>
                                    <% group.properties.each do |property| %>
                                        <p class="no-margin mb-5">
                                            <label class="bold"><%= property.name %>:</label>
                                            <span><%= product.products_values_by_property(property).map {|pv| pv.properties_value.value}[0] %></span>
                                        </p>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_5_2">
                    Updating...
                </div>
                <div class="tab-pane" id="tab_5_3">
                    Updating...
                </div>
                <div class="tab-pane" id="tab_5_4">
                    <h5 class="font-yellow-mint bold mb-15">
                        Lịch sử xuất nhập kho
                    </h5>
                    <hr class="no-margin mb-15">
                    <div class="row">
                        <div class="col-md-3">
                            <%= erp_form_control('date', {
                                label: 'Từ ngày',
                                name: 'from_date',
                                placeholder: 'Chọn lọc từ ngày bắt đầu'
                            }) %>
                        </div>
                        <div class="col-md-3">
                            <%= erp_form_control('date', {
                                label: 'Đến ngày',
                                name: 'to_date',
                                placeholder: 'Chọn lọc đến ngày cuối'
                            }) %>
                        </div>
                    </div>
                    <%= erp_datalist(
                        url: erp_products.import_export_table_backend_products_path
                    ) %>
                </div>
            </div>
        </div>
    </div>
</div>