<% if @group_by_category.nil? and @group_by_property.nil? %>
    <table class="table table-bordered table-advance order-column" id="">
        <tr>
            <td class="text-right" colspan="2"><%= t('.total_row') %></td>
            <td class="text-center stock-num text-bold bg-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-primary"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold bg-info"><%= (0..1000).to_a.sample %></td>
        </tr>
        <tr>
            <th class="bg-grey text-center" rowspan="2"><%= t('.code') %></th>
            <th class="bg-grey text-center" rowspan="2"><%= t('.name') %></th>
            <th class="bg-grey text-center" rowspan="2" width="7%"><%= t('.begin') %></th>
            <th class="bg-grey text-center" colspan="4"><%= t('.import') %></th>
            <th class="bg-grey text-center text-center" colspan="4"><%= t('.export') %></th>
            <th class="bg-grey text-center" colspan="2"><%= t('.end') %></th>
        </tr>
        <tr>
            <th class="bg-grey text-center" width="7%"><%= t('.import_purchase') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_return') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_sales') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_total') %></th>
        </tr>
        <% @products.each_with_index do |product,index| %>
            <tr>
                <td class="text-left">#<%= product.code %></td>
                <td class="text-left"><%= product.name %></td>
                <td class="text-center stock-num text-bold bg-warning"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold text-warning"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold text-primary"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold bg-info"><%= (0..5).to_a.sample %></td>
            </tr>
        <% end %>
    </table>
    <%= erp_datalist_pagination(@products) %>
<% elsif @group_by_property.nil? %>
    <table class="table table-bordered table-advance order-column" id="">
        <tr>
            <td class="text-right"><%= t('.total_row') %></td>
            <td class="text-center stock-num text-bold bg-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-primary"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold bg-info"><%= (0..1000).to_a.sample %></td>
        </tr>
        <tr>
            <th class="bg-grey text-center" rowspan="2"><%= t('.category') %></th>
            <th class="bg-grey text-center" rowspan="2" width="7%"><%= t('.begin') %></th>
            <th class="bg-grey text-center" colspan="4"><%= t('.import') %></th>
            <th class="bg-grey text-center text-center" colspan="4"><%= t('.export') %></th>
            <th class="bg-grey text-center" colspan="2"><%= t('.end') %></th>
        </tr>
        <tr>
            <th class="bg-grey text-center" width="7%"><%= t('.import_purchase') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_return') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_sales') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_total') %></th>
        </tr>
        <% @categories.each_with_index do |category,index| %>
            <tr>
                <td class="text-left"><%= category.name %></td>
                <td class="text-center stock-num text-bold bg-warning"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold text-warning"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold text-primary"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold bg-info"><%= (0..5).to_a.sample %></td>
            </tr>
        <% end %>
    </table>
<% elsif !@group_by_category.nil? %>
    <table class="table table-bordered table-advance order-column" id="">
        <tr>
            <td class="text-right" colspan="2"><%= t('.total_row') %></td>
            <td class="text-center stock-num text-bold bg-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-primary"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold bg-info"><%= (0..1000).to_a.sample %></td>
        </tr>
        <tr>
            <th class="bg-grey text-center" rowspan="2"><%= t('.category') %></th>
            <th class="bg-grey text-center" rowspan="2"><%= t('.property') %></th>
            <th class="bg-grey text-center" rowspan="2" width="7%"><%= t('.begin') %></th>
            <th class="bg-grey text-center" colspan="4"><%= t('.import') %></th>
            <th class="bg-grey text-center text-center" colspan="4"><%= t('.export') %></th>
            <th class="bg-grey text-center" colspan="2"><%= t('.end') %></th>
        </tr>
        <tr>
            <th class="bg-grey text-center" width="7%"><%= t('.import_purchase') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_return') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_sales') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_total') %></th>
        </tr>
        <% @categories.each_with_index do |category,index| %>
            <% rowspan = @properties_values.count %>
            <% @properties_values.each_with_index do |property_value,index| %>
                <tr>
                    <% if index == 0 %>
                        <td class="text-left text-bold" rowspan="<%= rowspan %>"><%= category.name %></td>
                    <% end %>
                    <td class="text-left"><%= property_value.value %></td>
                    <td class="text-center stock-num text-bold bg-warning"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num text-bold text-warning"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num text-bold text-primary"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                    <td class="text-center stock-num text-bold bg-info"><%= (0..5).to_a.sample %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
<% else %>
    <table class="table table-bordered table-advance order-column" id="">
        <tr>
            <td class="text-right"><%= t('.total_row') %></td>
            <td class="text-center stock-num text-bold bg-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-warning"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold text-primary"><%= (0..1000).to_a.sample %></td>
            <td class="text-center stock-num"><%= (50..1000).to_a.sample %></td>
            <td class="text-center stock-num text-bold bg-info"><%= (0..1000).to_a.sample %></td>
        </tr>
        <tr>
            <th class="bg-grey text-center" rowspan="2"><%= t('.property') %></th>
            <th class="bg-grey text-center" rowspan="2" width="7%"><%= t('.begin') %></th>
            <th class="bg-grey text-center" colspan="4"><%= t('.import') %></th>
            <th class="bg-grey text-center text-center" colspan="4"><%= t('.export') %></th>
            <th class="bg-grey text-center" colspan="2"><%= t('.end') %></th>
        </tr>
        <tr>
            <th class="bg-grey text-center" width="7%"><%= t('.import_purchase') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_return') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.import_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_sales') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_others') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.export_total') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_consigment') %></th>
            <th class="bg-grey text-center" width="7%"><%= t('.end_total') %></th>
        </tr>
        <% @properties_values.each_with_index do |properties_value,index| %>
            <tr>
                <td class="text-left"><%= properties_value.value %></td>
                <td class="text-center stock-num text-bold bg-warning"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold text-warning"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold text-primary"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num"><%= (0..5).to_a.sample %></td>
                <td class="text-center stock-num text-bold bg-info"><%= (0..5).to_a.sample %></td>
            </tr>
        <% end %>
    </table>
<% end %>
