<% content_for :title do %>Cập Nhật Sản Phẩm: <%= @product.get_name.truncate(30) %><% end %>
<% content_for :page_title do %><%= link_to '<i class="fa fa-th"></i> Danh Sách Sản Phẩm'.html_safe, erp_products.backend_products_path %> / Cập Nhật Sản Phẩm: <%= @product.get_name.truncate(30) %><% end %>
<% content_for :page_toolbar do %>
    <%= erp_datalist_row_actions([
        {text: '<i class="fa fa-plus"></i> Tạo Sản Phẩm Mới'.html_safe, href: erp_products.new_backend_product_path},
        {text: '<i class="fa fa-files-o"></i> Nhân Bản Sản Phẩm'.html_safe, url: erp_products.copy_backend_products_path(id: @product), data_method: 'PUT', class: 'ajax-link', data_confirm: 'Bạn có chắc chắn muốn thực hiện thao tác "Nhân Bản" này không?'}
    ]) %>
<% end %>
<div class="row"><div class="col-md-12"><% if @product.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', product: @product %></div></div>