<div class="">
    <table class="table table-advance table-hover table-striped table-checkable order-column" id="">
        <thead>
            <tr>
                <th width='1%'>
                    <%= erp_datalist_check_all %>
                </th>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Status</th>
                <th width="7%"><%= t('.actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% @products["products"].each do |product| %>
                <tr class="odd gradeX">
                    <td>
                        <%= erp_datalist_check_row(id: 1) %>
                    </td>
                    <td>
                        <%= product["id"] %>
                    </td>
                    <td>
                        <%= product["display_name"] %>
                    </td>
                    <td class="text-nowrap text-right">
                        <%= format_price(product["price"]) %>
                    </td>
                    <td>
                        <%= product["stock"] %>
                    </td>
                    <td>

                    </td>
                    <td>
                        <%= erp_datalist_row_actions(
                            [
                                {
                                    text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                    href: erp_products.edit_backend_product_path(product)
                                }
                            ]
                        ) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% if @products.empty? %>
        <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
    <% end %>
</div>

<ul class="pagination">
    <li class="prev disabled"><span><i class="fa fa-angle-left"></i></span></li>
    <% (1..(@products['total'].to_i/@products['per_page'].to_i + 0.5).round(0)).each do |number| %>
        <% if params[:page].to_i == number.to_i %>
            <li class="active"><span><%= number %></span></li>
        <% else %>
            <li><a rel="next" href="list?page=<%= number %>"><%= number %></a></li>
        <% end %>
    <% end %>
    <li class="next"><a rel="next" href="/vi/backend/products/categories/list?page=2"><i class="fa fa-angle-right"></i></a></li>
</ul>
