<% if params.to_unsafe_hash[:more_filter][:from_date].present? ||
      params.to_unsafe_hash[:more_filter][:to_date].present? %>
    
    <table class="table table-bordered order-column">
        <thead class="flip-content">
            <tr>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Ngày XNK</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Mã xuất nhập</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Kho xuất nhập</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Loại XNK</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Sản phẩm</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">SL nhập</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">SL xuất</th>
                <th class="text-center bg-yellow-mint bg-font-yellow-mint text-nowrap">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <% @rows.each_with_index do |row,index| %>
                <tr>
                    <td width="10%" class="text-center"><%= format_date(row[:voucher_date]) %></td>
                    <td class="text-center"><%= row[:voucher_code] %></td>
                    <td class="text-center">
                        <%= row[:source_warehouse] %>
                        <%= raw '<i class="glyphicon glyphicon-arrow-right"></i>' if (!row[:source_warehouse].nil? || !row[:destination_warehouse].nil?) %>
                        <%= row[:destination_warehouse] %>
                    </td>
                    <td class="text-center font-yellow-gold"><%= t(".#{row[:record_type]}") if !row[:record_type].nil? %></td>
                    <td width="15%" class="text-left"><%= @product.name %></td>
                    <td class="text-center font-green-seagreen"><%= row[:qty_import].nil? ? '' : format_number(row[:qty_import].abs) %></td>
                    <td class="text-center font-green-seagreen"><%= row[:qty_export].nil? ? '' : format_number(row[:qty_export].abs) %></td>
                    <td class="text-justify"><%= row[:note] %></td>
                </tr>
            <% end %>
            <% if @rows.empty? %>
                <tr><td colspan="8" class="text-center"><%= t('.no_matching_records_found') %></td></tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-warning text-left"><%= t('.please_select_filter') %></div>
<% end %>