<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width="1%" class="text-left"><%= erp_datalist_check_all %></th>
            <% if get_columns(params).include?('category') %><th width="10%" class="text-center">Chuyên mục</th><% end %>
            <% if get_columns(params).include?('brand') %><th width="10%" class="text-center">Thương hiệu</th><% end %>
            <% if get_columns(params).include?('code') %><th width="10%" class="text-center">Mã sản phẩm</th><% end %>
            <% if get_columns(params).include?('name') %><th width="35%" class="text-center">Tên sản phẩm</th><% end %>
            <% if get_columns(params).include?('price') %><th width="10%" class="text-center">Giá</th><% end %>
            <% if get_columns(params).include?('status') %><th width="10%" class="text-center">Trạng thái</th><% end %>
            <% if get_columns(params).include?('creator') %><th class="text-center">Người tạo</th><% end %>
            <% if get_columns(params).include?('created') %><th class="text-center">Ngày tạo</th><% end %>
            <th width="8%" class="text-right">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr class="odd gradeX">
                <td class="text-left"><%= erp_datalist_check_row(id: product.id) %></td>
                <% if get_columns(params).include?('category') %><td class="text-center"><%= link_to product.get_category_name, erp_products.edit_backend_category_path(product.category), target: '_blank' %></td><% end %>
                <% if get_columns(params).include?('brand') %><td class="text-center"><%= link_to product.get_brand_name, erp_products.edit_backend_brand_path(product.brand), target: '_blank' %></td><% end %>
                <% if get_columns(params).include?('code') %><td class="text-center"><%= product.get_code %></td><% end %>
                <% if get_columns(params).include?('name') %>
                    <td class="text-left">
                        <strong><%= link_to product.get_name, erp_products.edit_backend_product_path(product) %></strong>
                        <% if product.short_name.present? %><br><em><strong>Tên rút gọn: </strong><%= product.get_short_name %></em><% end %>
                        <% if product.custom_title.present? %><br><em><strong>Title/Alias: </strong><%= product.get_custom_title %></em><% end %>
                        <% if product.weights.present? %><br><em><strong>Vận chuyển: </strong><%= product.weights %> kg</em><% end %>
                        <% if product.warranty.present? %><br><em><strong>Bảo hành: </strong><%= product.warranty %> tháng</em><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?('price') %>
                    <td class="text-center">
                        <% if product.price.to_i > 0 %><%= format_price(product.price) %><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?('status') %>
                    <td class="text-center">
                        <% if product.is_new? %><br><span class="label label-sm label-info">Sản Phẩm Mới</span><% end %>
                        <% if product.is_bestseller? %><br><span class="label label-sm label-info">Sản Phẩm Bán Chạy</span><% end %>
                        <% if product.is_sold_out? %><br><span class="label label-sm label-warning">Sản Phẩm Hết Hàng</span><% end %>
                        <% if product.is_call? %><br><span class="label label-sm label-warning">Sản Phẩm Gọi Hỏi Hàng</span><% end %>
                        <% if product.description.present? %><br><span class="label label-sm label-info">Có Bài Viết Giới Thiệu</span><% end %>
                        <% if product.short_description? %><br><span class="label label-sm label-info">Có Mô Tả Ngắn</span><% end %>
                        <% if product.product_images.count == 0 %><br><span class="label label-sm label-danger">Chưa Có Hình Ảnh</span><% end %>
                        <% if product.meta_description.present? %><br><span class="label label-sm label-info">SEO Description (<%= product.meta_description.length %> ký tự)</span><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?('creator') %><td class="text-center"><%= erp_component('avatar', {user: product.creator}) %></td><% end %>
                <% if get_columns(params).include?('created') %><td class="text-center"><%= product.created_at.strftime('%d-%m-%Y') %></td><% end %>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="fa fa-cog"></i>Lựa chọn<i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li><%= link_to '<i class="fa fa-refresh"></i> Cập nhật Alias'.html_safe, erp_products.update_alias_backend_products_path(id: product), method: 'PUT', data: {confirm: 'Bạn có chắc chắn muốn thực hiện thao tác "Cập Nhật Alias" này không?'}, class: 'ajax-link' %></li>
                            <li><%= link_to '<i class="fa fa-files-o"></i> Nhân bản'.html_safe, erp_products.copy_backend_products_path(id: product), method: 'PUT', data: {confirm: 'Bạn có chắc chắn muốn thực hiện thao tác "Nhân Bản" này không?'}, class: 'ajax-link' %></li>
                            <li class="divider"></li>
                            <li><%= link_to '<i class="fa fa-trash"></i> Xóa sản phẩm'.html_safe, erp_products.backend_product_path(product), method: 'DELETE', data: {confirm: 'Bạn có chắc chắn muốn thực hiện thao tác "Xóa Sản Phẩm" này không?'}, class: 'ajax-link' %></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @products.empty? %><div class="datalist-empty-line">Danh Sách Sản Phẩm Hiện Chưa Có Lựa Chọn Phù Hợp</div><% end %>
<%= erp_datalist_pagination(@products) %>