<% if @columns.present? and @rows.present? %>
    <table class="table table-advance table-checkable order-column" id="">
        <tr>
            <th class="bg-grey"></th>
            <th class="bg-grey"></th>
            <% @columns.each do |column| %>
                <th class="text-center bg-grey"><%= column %></th>
            <% end %>
        </tr>
        <tr>
            <th class="bg-grey"></th>
            <th class="bg-grey"></th>
            <% @columns.each do |column| %>
                <th class="text-center bg-grey"><%= column %>2</th>
            <% end %>
        </tr>
        <% @rows.each do |row| %>
            <tr>
                <th class="text-center bg-grey" width="1%"><%= row %></th>
                <th class="text-center bg-grey" width="1%"><%= row %>2</th>
                <% @columns.each do |column| %>
                    <% stock = (0..5).to_a.sample %>
                    <td class="text-center stock-num stock-num-<%= stock %>"><%= stock %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% else %>
    <div class="alert alert-warning"><%=raw t('.please_select_column_and_row_filter') %></div>
<% end %>
