<% content_for :title do %>
    <%= t('.matrix_report') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-archive"></i> <%= t('.matrix_report') %>
<% end %>

<% content_for :global_filter do %>
    <div class="row">
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'category',
                value: '',
                text: '',
                #label: t('.category'),
                placeholder: t('.choose_category'),
                url: erp_products.dataselect_backend_categories_path(format: 'json'),
            }) %>

        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'column',
                value: '',
                text: '',
                #label: t('.column'),
                placeholder: t('.choose_column'),
                url: erp_products.dataselect_backend_properties_path(format: 'json'),
            }) %>

        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'row',
                value: '',
                text: '',
                #label: t('.row'),
                placeholder: t('.choose_row'),
                url: erp_products.dataselect_backend_properties_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse',
                value: '',
                text: '',
                #label: t('.warehouse'),
                placeholder: t('.choose_warehouse'),
                url: erp_products.dataselect_backend_properties_path(format: 'json'),
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_products.matrix_report_table_backend_products_path,
    sortable: true,
    keywords: [
        {
            text: t('.name'), name: 'erp_products_products.name'
        },
    ],
    filters: [
        {
            text: t('.show_virtual'), name: 'show_virtual', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.state_normal'), name: 'state_normal', value: true, checked: true
        },
        {
            text: t('.state_scratched'), name: 'state_scratched', value: true, checked: false
        },
        {
            text: t('.state_broken'), name: 'state_broken', value: true, checked: false
        },
    ],
    columns: [
    ],
    header: 'dddddd'
) %>
