<div class="row">
    <div class="col-md-4">
        <label><%= t('.unit_name') %></label>
    </div>
    <div class="col-md-2">
        <label><%= t('.conversion_value') %></label>
    </div>
    <div class="col-md-2">
        <label><%= t('.price') %></label>
    </div>
    <div class="col-md-2">
        <label><%= t('.product_code') %></label>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <%= erp_form_control("dataselect", {
            name: 'product[unit_id]',
            value: '',
            text: '',
            placeholder: t('.choose_unit'),
            url: erp_products.dataselect_backend_units_path(format: 'json'),
            create: {
                url: erp_products.new_backend_unit_path,
                title: t('.create_unit'),
                container_selector: '.new_unit',
                input_selector: 'input[name="unit[name]"]'
            },
            edit: {
                url: erp_products.edit_backend_unit_path(id: ':value'),
                title: t('.edit_unit'),
                container_selector: '.edit_unit',
            }
        }) %>
    </div>
    <div class="col-md-2">
        <%= erp_form_control("text", {
            name: '',
            value: @products_unit.conversion_value
        }) %>
    </div>
    <div class="col-md-2">
        <%= erp_form_control("text", {
            name: '',
            value: @products_unit.price
        }) %>
    </div>
    <div class="col-md-2">
        <%= erp_form_control("text", {
            name: '',
            value: @products_unit.code
        }) %>
    </div>
    <div class="col-md-2">        
        <%= erp_form_control("addableform_remove_button", {
        }) %>
    </div>
</div>