<% content_for :title do %>Cập Nhật Nhóm Phụ Kiện: <%= @accessory.get_name %><% end %>
<% content_for :page_title do %><%= link_to '<i class="fa fa-th"></i> Danh Sách Nhóm Phụ Kiện'.html_safe, erp_products.backend_accessories_path %> / Cập Nhật Nhóm Phụ Kiện: <%= @accessory.get_name %><% end %>
<% content_for :page_toolbar do %><%= erp_component('button/create', {text: 'Tạo nhóm phụ kiện mới', href: erp_products.new_backend_accessory_path, class: 'btn-noborder'}) %><% end %>
<div class="row"><div class="col-md-12"><% if @accessory.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', accessory: @accessory %></div></div>