<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_products_accessories.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_products_accessories.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @accessories.each do |accessory| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: accessory.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to accessory.name, erp_products.edit_backend_accessory_path(accessory), class: 'title' %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if accessory.archived == true %>
                        <%= erp_component('label/danger', {
                            text: t('archived')
                        }) %>                            
                    <% else %>
                        <%= erp_component('label/success', {
                            text: t('active')
                        }) %>
                    <% end %> 
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: accessory.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= accessory.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_products.edit_backend_accessory_path(accessory)
                            },
                            {
                                text: '<i class="fa fa-remove"></i> '+t('archive'),
                                url: erp_products.archive_backend_accessories_path(id: accessory.id),
                                data_method: 'PUT',
                                hide: accessory.archived,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('unarchive'),
                                url: erp_products.unarchive_backend_accessories_path(id: accessory.id),
                                data_method: 'PUT',
                                hide: !accessory.archived,
                                class: 'ajax-link'
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_products.backend_accessory_path(accessory),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @accessories.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
        
<%= erp_datalist_pagination(@accessories) %>